<!DOCTYPE unspecified PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:p="http://primefaces.org/ui">
	
	
	<h:head>
	</h:head>
	<title>Aritmetica</title>
	
	<h:body>
		<h1>Pagina de Aritmetica</h1>
		<p>en esta pagina podras efectuar la operacion de suma entre dos numeros, para efectuar dicha operacion deberas pasar la operacion y los numeros mediante la url</p>
		
		<label style="color:red;">Ojo debes ingresar todos los datos nombrados como en el ejemplo para que no te aparezca un error.</label>
		
		<div>
		<br
		
		/>
		<CENTER>
		<h3><h:outputText value="#{aritmetica.aritmetica()}"></h:outputText></h3>
		</CENTER>
		</div>
	</h:body>
	</html>